## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [75]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [95]:
def check(a):
    if a%2 == 0 :
            print("the number is even")
    else:
        print("the number is odd")

check(eval(input("enter the number : ")))

enter the number : 5
the number is odd

In [98]:
a= eval(input("enter the number : "))
if a%2 == 0 :
    print("the number is even")
else:
    print("the number is odd")

enter the number : 3
the number is odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [4]:
e = eval(input("enter the number : "))
a = 1
while a <= 10:
    print(f" {a} x {e} = {a*e} ")
    a += 1

enter the number : 2
 1 x 2 = 2
 2 x 2 = 4
 3 x 2 = 6
 4 x 2 = 8
 5 x 2 = 10
 6 x 2 = 12
 7 x 2 = 14
 8 x 2 = 16
 9 x 2 = 18
 10 x 2 = 20

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
a = 2000
while a <= 3200:
    if a%7 == 0 and a%5 != 0:
        print(a,end = ",")
    a += 1

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [64]:
d = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
a = 0
b = 0
c = 0
e = 0
f = 0
for i in d:
    if type(i) == int:
        a = a + 1
    elif type(i) == str:
        b = b + 1
    elif type(i) == float:
        c = c + 1
    elif type(i) == bool:
        e = e + 1
    elif type(i) == None:
        f = f + 1
print('integers -->',a)
print('strings -->',b)
print('float -->' ,c)
print('boolean -->',e)        
print('none -->',f)

integers --> 5
strings --> 4
float --> 1
boolean --> 1
none --> 0

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [7]:
a = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
s = 0
for i in a:
    if type(i) in (float,int):
        s = s + i 
print(s)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [22]:
a = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
b = []
for i in a:
    if type(i) == str:
        b.append(i)
        c = "-".join(b)
c

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [3]:
a = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
def moh_abc(a):
    output = 0
    count = 0
    for i in a:
        #if type(a) == list:
            if type(i) in (int,float):
                output = output + i
            elif type(i) == str:
                count = count +1
    print(output)
    print(count)
moh_abc(a)

21.5
4

In [2]:
a = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
def moh_abc(*args):
    output = 0
    count = 0
    for i in args:
        if type(args) == list:
            if type(i) in (int,float):
                output = output + i
            elif type(i) == str:
                count = count +1
    print(output)
    print(count)
moh_abc(a)

0
0

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [39]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
a = []
for i in li :
    if i%2 != 0 :
        a.append(i)
print(a)

[5, 7, 97, 77, 23, 73, 61]

In [40]:
a = [i for i in li  if i%2 != 0]
a

[5, 7, 97, 77, 23, 73, 61]

In [98]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [99]:
c = list(filter(lambda a: a%2 != 0,li))
c

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [114]:
# finding mean
def avg_and_divide(list):
    a = 0
    for i in list:
        a = a + i
    b = a / len(list)
    return b

avg_and_divide([1,2,3,4,5])

3.0

In [116]:
# finding count
def counting(a):
    b = 0
    for i in a :
        b = b +1
        
    return b 
counting([1,2,3,4,5,-9,-4,2])

8

In [112]:
# finding sum
def sum_numbers(*args):
    output = 0
    
    for i in args:
            output = output + i
        
    return output
    
sum_numbers(1,2,3,4,5)

15

In [103]:
# finding minimum
def largest_number(list):
    maximum = list[0]
    for i in list:
        if i < maximum:
            maximum = i
    return maximum
largest_number([1,2,3,-3,5])

-3

In [104]:
# finding maximum
def largest_number(list):
    maximum = list[0]
    for i in list:
        if i > maximum:
            maximum = i
    return maximum
largest_number([1,2,3,-3,25])

25

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [3]:
def area_of_shapes(shape,**kwargs):
    if shape == 'square':
        for key,value in kwargs.items():
            if key == 'side':
                a = kwargs['side'] * kwargs['side']
                return a
    if shape == 'rectangle':
        for key,value in kwargs.items():
            if key == 'length' or key == 'breadth':
                a = kwargs['length'] * kwargs['breadth']
                return a

    if shape == 'circle':
        for key,value in kwargs.items():
            if key == 'radius':
                      a = 3.14 * kwargs['radius'] *  kwargs['radius']
                      return a

In [136]:
area_of_shapes('rectangle',length = 5 , breadth = 4)

20

In [2]:
area_of_shapes('square', side = 5)

25

In [131]:
area_of_shapes('circle',radius = 5)

78.5

In [ ]:
def checks(shape,**kwargs):
    if shape == 'square':
        a = kwargs['side'] * kwargs['side']
        return a
    elif shape == 'rectangle':
        b = kwargs['length'] * kwargs['breadth']
        return b
    elif shape == 'circle':
        c = 3.14 * kwargs['radius'] * kwargs['radius']
        return c

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [53]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
def abd(q,s):
    l3 = []
    l4 = []
    l5 = []
    for i in q:
        for j in s:
            if j == i:
                l3.append(j)
    print("Matched    : ", l3)           
                
    for h in q:
        if h  not in l3:
            l4.append(h)
            
    print("only in l1 : ", l4)
    
    for r in s:
        if r  not in l3:
            l5.append(r) 
    print("only in l2 : ", l5)

In [54]:
abd(l1,l2)

Matched    :  ['January', 'February', 'June', 'December']
only in l1 :  ['March', 'May', 'September']
only in l2 :  ['April', 'October']

Q13: write a UDF to check if a number is prime or not.

In [91]:
def check(num):
    for i in range(2,num):
        if num%i == 0:
            return " not a prime number"
        
a = check(3)  
if a == " not a prime number":
    print("it is  not a prime number")
else:
    print("it is a prime number")

it is a prime number

In [32]:
def abc(num):
    if num%2 != 0:
        print("a prime number")
    else:
        print("not a prime number")
abc(10)

not a prime number

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [95]:
a = eval(input("enter the number : "))
b = 1
while a >0 :
    b = b * a
    a = a -1
print(b)

enter the number : 8
40320

In [55]:
num = int(input("enter the number : "))
fact = 1 
for i in range(1,num+1):
    fact = fact * i
print(fact)

enter the number : 8
40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [62]:
a = int(input("enter the number : "))
d = {}
for i in range(1,a+1):
    d[i] = i * i
    
print(d)

enter the number : 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [167]:
a = input("enter the number : ")
b = a.split(',')
c = tuple(b)
print(b)
print(c)

enter the number : 1,2,3,4,5
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [175]:
a1 = input('enter the words : ')
c = a1.split(",")
c.sort()
print(','.join(c))

enter the words : apple,zebra,world,bag
apple,bag,world,zebra

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [12]:
s=input()
words=[word for word in s.split(" ")]
print(" ".join(sorted(set(words))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [57]:
num = input("enter the number : ")
a = num.split(" ")
b = sorted(set(a))
d = " ".join(b)
print(d)

enter the number : hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [69]:
a = input()
count = 0
c = 0
for i in a:
    if (i.isupper()):
        count = count + 1
        
    elif (i.islower()):
            c = c + 1
print("number of upper case letters",count)
print("number of lower case letters",c)

Hello world
number of upper case letters 1
number of lower case letters 9

In [74]:
def checking(a):
    count = 0
    c = 0
    for i in a:
        if i.isupper():
            count = count + 1
        
        elif i.islower():
            c = c + 1
    return count,c
        
print(checking('Hello world'))

(1, 9)

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [12]:
a = input("enter the string : ")
a[ : :-1 ]

enter the string : python

'nohtyp'

In [1]:
pwd

'/Users/macbookair'